
{% load static %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

{% block content %}


<table id="bodyCV" style=>
  <tr>
    <td class="tableHeader tableHeaderHeight">
      <p>Europass</p>
      <p>Curriculum vitae</p>
      <p class="importantParagraph">Personal information</p>
    </td>
    <td class="spacer1">&nbsp;&nbsp;</td>
    <td class="spacer2 separator tableHeaderHeight"></td>
    <td class="spacer2 tableHeaderHeight">&nbsp;&nbsp;</td>
    <td class="tableHeaderHeight" id="foto"><img src="{%static 'imgs/' %}{{ eurocv.foto }}"></td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Surname(s) / First name(s)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="name">{{ eurocv.personalInfo.name.lastname}}/{{eurocv.personalInfo.name.firstname }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Address(es)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="address">Street : {{ eurocv.personalInfo.address.street }}<br>
        CP : {{ eurocv.personalInfo.address.street }} <br>
        Local : {{ eurocv.personalInfo.address.local}} <br>
        Country : {{ eurocv.personalInfo.address.country }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Telephone(s)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="phone">+{{ eurocv.personalInfo.contact.phone.countryprefix }} {{eurocv.personalInfo.contact.phone.number }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Fax(es)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="fax">+{{ eurocv.personalInfo.contact.fax.countryprefix }} {{eurocv.personalInfo.contact.fax.number }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">E-mail(s)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="email">
        {%  for mail in eurocv.personalInfo.contact.email %} {{ mail.type }} : {{ mail.value }} <br>

        {% endfor %}
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Nationality(-ies)</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="nationality">{{ eurocv.personalInfo.nacionality }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Date of birth</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="birthdate">{{ eurocv.personalInfo.birthdate.day }} {{ eurocv.personalInfo.birthdate.month }} {{ eurocv.personalInfo.birthdate.year }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Gender</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="gender">{{ eurocv.personalInfo.gender }}</td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="spacer3">
      <p class="importantParagraph">Desired employment /<br>Occupational field</p>
    </td>
    <td class="spacer1 spacer3"></td>
    <td class="spacer2 spacer3 separator">&nbsp;</td>
    <td class="spacer2 spacer3"></td>
    <td class="fieldsValue spacer3" id="desiredEmploy">{{ eurocv.desiredEmploy }}</td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Work experience</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
  <tr>
    <td class="fieldsHeader">Dates</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="wexpDates">{{ eurocv.workexperience.position.dates.start.month }} {{ eurocv.workexperience.position.dates.start.year }} -
    {{ eurocv.workexperience.position.dates.end.month }} {{ eurocv.workexperience.position.dates.end.year }}
    </td>
  </tr>
  <tr>
    <td class="fieldsHeader">Occupation or position held</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="occupation">{{ eurocv.workexperience.position.occupation }}</td>
  </tr>
  <tr>
    <td class="fieldsHeader">Main activities and responsibilities</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="activities">{%  for act in eurocv.workexperience.position.activities.activity %}{{ act.designation }} : {{ act.time }} <br>
        {% endfor %}
    <br>
    </td>
  </tr>
  <tr>
    <td class="fieldsHeader">Name and address of employer</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="employer">{{ eurocv.workexperience.position.employer.name}}<br>
        Street : {{ eurocv.workexperience.position.employer.address.street}}<br>
        CP : {{ eurocv.workexperience.position.employer.address.cp }}<br>
        Local : {{ eurocv.workexperience.position.employer.address.local}}<br>
        Country : {{ eurocv.workexperience.position.employer.address.country}}<br>
        www : {{ eurocv.workexperience.position.employer.contact.www}}<br>
        Email : {{ eurocv.workexperience.position.employer.contact.email}}<br>
        <br>
    </td>
  </tr>
  <tr>
    <td class="fieldsHeader">Type of business or sector</td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td class="fieldsValue" id="businessSector">{{ eurocv.workexperience.position.businessSector}}</td>
  </tr>
  <tr>
    <td></td>
    <td class="spacer1"></td>
    <td class="spacer2 separator">&nbsp;</td>
    <td class="spacer2"></td>
    <td></td>
  </tr>
</table>
{%  endblock %}

