<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
{% extends 'layout.html' %}
{% block content %}
<body>
<a href="/admin/">Admin</a>
<a href="/books/">Books</a>
<a href="/authors/">Authors</a>
<a href="/publishers">Publishers</a>
<br>
<a href="/booksearch">BookSearch</a>
<a href="/bookquery">BookQuery</a>
<a href="/authorquery">AuthorQuery</a>
<a href="/bookqueryby">BookqueryBy</a>
<br>
<a href="/insertbook">BookInsert</a>
</body>
{% endblock %}
</html>